<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name ="Browser" value="Chrome"/>
  <classes>
  <class name = "CrossBrowser.Test1" />
  </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="TestFirefox">
  <parameter name ="Browser" value="Firefox"/>
  <classes>
  <class name = "CrossBrowser.Test1" />
  </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Testmicrosoft">
  <parameter name ="Browser" value="MicrosoftEdge"/>f
  <classes>
  <class name = "CrossBrowser.Test1" />
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
